@model FileFinder.ViewModels.HomeViewModel

// TODO Show "All Results" when "All" and empty string are passed in.
@if (Model.UserInput == "" && Model.SelectedColumn == SearchFieldType.All)
{
    <h2>All Results</h2>
} else
{
    <h2>Results for "@Model.UserInput"</h2>
}

<p><a asp-controller="Home" asp-action="Index">Search Again</a></p>
<hr />

@if(Model.ConsumerResults == null && Model.CaseManagerResults == null && Model.ProgramResults == null)
{
    <h3> No Results.</h3>

}

@if (Model.ConsumerResults != null)
{
    <h3>Consumers</h3>
    <br />
    @foreach (var result in Model.ConsumerResults)
    {
        <p><a asp-controller="Consumers" asp-action="Details" asp-route-id="@result.ID">@result.FullName()</a></p>
    }
    <br />
}

@if (Model.CaseManagerResults != null)
{
    <h3>Case Managers</h3>
    <br />
    @foreach (var result in Model.CaseManagerResults)
    {
        <p><a asp-controller="CaseManagers" asp-action="Details" asp-route-id="@result.ID">@result.FullName()</a></p>
    }
    <br />
}

@if (Model.ProgramResults != null)
{
    <h3>Programs</h3>
    <br />

    @foreach (var result in Model.ProgramResults)
    {
        <p><a asp-controller="Programs" asp-action="Details" asp-route-id="@result.ID">@result.Name</a></p>
    }

}

