@model FileFinder.Models.Program

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    <p> <a asp-action="Index">Back to Program List</a></p>
</div>
<div>

    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>*@
    <table>
        <tr>
        <th>@Html.DisplayNameFor(model => model.CaseManagers)</th>
        </tr>
        <tr>
            @foreach (CaseManager cm in Model.CaseManagers)
            {
            <td>
                <a asp-controller="CaseManagers" asp-action="Details" asp-route-id="@cm.ID">@cm.FullName()</a>
            </td>
            }
        </tr>

    </table>
</div>


