@model IEnumerable<FileFinder.Models.Building>

@{
    ViewData["Title"] = "Index";
}

<h2>Locations</h2>

@if (ViewBag.Role == FileFinder.Models.Role.Admin)
{
    <p>
        <a asp-action="Create">Create New Building</a> |
        <a asp-controller="Rooms" asp-action="Create">Create New Room</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Building
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <ul>
                    @foreach (var room in item.Rooms)
                    {
                        <li><a asp-controller="Rooms" asp-action="Details" asp-route-id="@room.ID">@room.Name</a></li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @if (ViewBag.Role == FileFinder.Models.Role.Admin)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>
