@model FileFinder.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron"><h1>FileFinder</h1></div>

<!--  Search Feature  -->
<h2>Search</h2>
<br />

@*@{ Html.RenderPartial("_Search"); }*@

<form asp-controller="Search" asp-action="Results" method="post">
    <p>
        @foreach (var column in Model.Columns)
            {

                var checkedColumn = column.Equals(Model.SelectedColumn);

                <span>
                    <input type="radio" name="SelectedColumn" id="@column" value="@column" checked="@checkedColumn" />
                    <label for="@column">@column</label>
                </span>
            }
    </p>

    <p>
        <label asp-for="UserInput"></label>
        <input asp-for="UserInput" />
    </p>

    <input type="Submit" value="Search" />
</form>

<hr />

<!--  Daily Tasks Feature  -->
<h2>Daily Tasks for @Model.Today.DayOfWeek, @Model.Today.ToShortDateString() </h2>

    @if (Model.ActionFiles != null)
    {
        <h4>Files to Refresh</h4>
        <table>

            @foreach (var file in Model.ActionFiles)
            {
                <tr>
                    <td>
                        @Html.Partial("_File", file)
                    </td>
                </tr>
            }

        </table>
    }


    @if (Model.InactiveFiles != null)
    {
        <h4>Files to Shred</h4>
        <table>

            @foreach (var file in Model.InactiveFiles)
            {
                <tr>
                    <td>
                        @Html.Partial("_File", file)
                    </td>
                </tr>
            }

        </table>

    }

@*@{ Html.RenderPartial("_DailyTasks"); }*@
