@model FileFinder.Models.Consumer

@{
    ViewData["Title"] = "Details";
}

<h2>Consumer Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        @if (Model.Active == false)
        {
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to Consumer List</a>
</div>

<div>
    <hr />

    <h4>Files</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Quantity</p>
                </th>
                <th>
                    <p>Status</p>
                </th>
                @if (Model.Active == false)
                {
                    <th>Shred Date</th>
                }
                <th>
                    <p>Case Manager</p>
                </th>
                <th>
                    <p>Room</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Files)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    @if(Model.Active == false)
                    {
                        <td>@Html.DisplayFor(modelItem => item.ShredDate)</td>
                    }
                    <td>
                        <a asp-controller="CaseManagers" asp-action="Details" asp-route-id="@item.CaseManagerID">
                            @Html.DisplayFor(modelItem => item.CaseManager.LastName), @Html.DisplayFor(modelItem => item.CaseManager.FirstName)
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Rooms" asp-action="Details" asp-route-id="@item.RoomID">
                            @Html.DisplayFor(modelItem => item.Room.Name)
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Files" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="Files" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-controller="Files" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
             }
        </tbody>
    </table>

    @if (Model.Files.Count == 0)
    {
        <h5>No files.</h5>
        <p><a asp-controller="Files" asp-action="Create" asp-route-id="@Model.ID">Create New File</a></p>
    }
</div>
