@model FileFinder.Models.File

@{
    ViewData["Title"] = "Details";
}

<h2>File Details</h2>

<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseManager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CaseManager.LastName), @Html.DisplayFor(model => model.CaseManager.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consumer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consumer.LastName), @Html.DisplayFor(model => model.Consumer.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        @if (Model.Status == FileFinder.Models.Status.InactiveConsumer)
         {
            <dt>
                @Html.DisplayNameFor(model => model.ShredDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ShredDate)
            </dd>

         }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to File List</a>
</div>
