@model FileFinder.Models.File

@{
    ViewData["Title"] = "Details";
}

<h2>File Details</h2>

    <h4>File</h4>
    <hr />

    <div class="row">
        <div class="col-sm-2">
            <a asp-controller="Files" asp-action="Details" asp-route-id="@Model.ID"><img src="~/@Model.GetStatusIcon()" /></a>
        </div>
        <div class="col-sm-6">
            @Html.Partial("_File", Model)
        </div>
        @if (Model.Status == Status.Full || Model.Status == Status.Damaged)
        {
            <div class="col-sm-4 text-center">
                <a asp-controller="Home" asp-action="FileRefresh" asp-route-id="@Model.ID" title="Click here to change file status to OK &#13;&#10;and update quantity by one."><img src="~/images/FilePNGs/clr-new.png" />Refreshed!</a>
            </div>
        }

        @if (Model.Status == Status.Shred)
        {
            <div class="col-sm-4 text-center">
                <a asp-controller="Files" asp-action="Delete" asp-route-id="@Model.ID" title="Click here to delete entry from database."><img src="~/images/FilePNGs/blk-delete.png" />Delete</a>
            </div>
        }
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to File List</a>
    </div>
